/* GLOBAL STYLING*/

body {
  margin: 0;
  display: flex;
  justify-content: stretch;
  background-color: #8697CD;
  background-image: url("assets/waves6.jpg");
  background-size: cover;
  font-family: 'Mukta', sans-serif;
}

img {
  height: 85px;
  width: 85px;
}

/* PLAYER SCORES SIDE-BARS*/

.player-wins {
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  font-size: 2em;
  color: white;
  letter-spacing: 2px;
}

/* CENTER GAMEPLAY AREA */

main {
  height: 100vw;
  width: 50vw;
  background: rgba(241, 247, 250, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #014974;
}

.header {
  display: flex;
  align-items: center;
  font-size: 4em;
  letter-spacing: 2px;
  word-spacing: 22px;
  margin-top: 5vh;
  font-weight: 800;
}

.turn-token {
  padding: 0 10px 0 25px;
}

/* GAME BOARD*/

.game-board {
  width: 35vw;
  height: 30vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.game-square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #014974;
}

.game-square:nth-child(1),
.game-square:nth-child(2),
.game-square:nth-child(3) {
  border-top: none;
}

.game-square:nth-child(1),
.game-square:nth-child(4),
.game-square:nth-child(7) {
  border-left: none;
}
.game-square:nth-child(3),
.game-square:nth-child(6),
.game-square:nth-child(9) {
  border-right: none;
}

.game-square:nth-child(7),
.game-square:nth-child(8),
.game-square:nth-child(9) {
  border-bottom: none;
}
